# -----------------------------
# Terraform
# -----------------------------
.terraform/
.terraform.lock.hcl

terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*

terraform.tfplan
*.tfplan

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# *.tfvars    TF VARS FOI COMENTADO PARA QUE POSSA SER UTILIZADO COMO EXEMPLO NA SOLUÇÃO, MAS GERALMENTE DEVE SER IGNORADO
*.tfvars.json

crash.log
crash.*.log

# -----------------------------
# Credenciais e chaves privadas
# -----------------------------
*.pem
*.key
*.p12
*.csr

# AWS CLI
.aws/
aws_credentials
credentials

# -----------------------------
# Editores e sistemas operacionais
# -----------------------------

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux
*.swp
*.swo