# -----------------------------
# Terraform
# -----------------------------
.terraform/
.terraform.lock.hcl

terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*

terraform.tfplan
*.tfplan

*.tfvars

# -----------------------------
# Credenciais e chaves privadas
# -----------------------------
*.pem
*.key
*.p12
*.csr

# AWS CLI
.aws/
aws_credentials
credentials